.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 100px;
padding: 2px;
margin: 5px;
}

.card{
margin: 3px;
border: 2px solid black;
border-radius: 2px;
margin: 10px;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 200px;
}

.image{
  height: 100px;
  width: 100px;
}